<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        function check(){
            form1.submit()
        }
    </script>
</head>
<body>
    <h1>상세페이지</h1>

    <form action = "/modeling" method = "POST" name = 'form1'>
    <table border = '0' align = 'center'>
        <tr>
            <th>이름</th>
            <td><input type = 'text' name = 'name'></td>
        </tr>
        <tr>
            <th>성별</th>
            <td><select name = 'gender'>
                <option value = '남'>남자</option>
                <option value = '여'>여자</option>
            </select> </td>
        </tr>
        <tr>
            <th>연령</th>
            <td><input type = 'text' name = 'age'></td>
        </tr>
        <tr>
            <th>체중</th>
            <td><input type = 'text' name = 'weight'></td>
        </tr>
        <tr>
            <th>Runtime</th>
            <td><input type = 'text' name = 'runtime'></td>
        </tr>
        <tr>
            <th>Runpulse</th>
            <td><input type = 'text' name = 'runpulse'></td>
        </tr>
        <tr>
            <th>Rstpulse</th>
            <td><input type = 'text' name = 'rstpulse'></td>
        </tr>
        <tr>
            <th>Max_pulse</th>
            <td><input type = 'text' name = 'max_pulse'></td>
        </tr>
        <tr>
            <td colspan='2'>
            <input id = 'submit_btn' type = 'button' value = '입력' onclick = 'check()'>
            <input type = 'reset' value = '취소'>
            </td>
        </tr>

    
    </table>
    </form>

    <h3 border = '0' align = 'center'>Model 예측 결과는 : {{predict}}</h3>
</body>
</html>